<div class="container mainContainer">
  <h3>{{approveHeading}}</h3>

<div class="panel panel-default approveOrderAddress">
  <div class="panel-heading">Address</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-10">
	            <span *ngIf = "!selectedAddress.name">You must provide a shipping address</span>
				<span *ngIf="selectedAddress.name">
					  {{selectedAddress.name}}, {{selectedAddress.street1}}, <span *ngIf="selectedAddress.street2">{{selectedAddress.street2}},</span> {{selectedAddress.city}}, {{selectedAddress.state}}, {{selectedAddress.zip}}, {{selectedAddress.country}}
				</span>
	  </div>
     <div class="col-sm-2 btnApprovedOrder"><button type="button" class="btn btn-md btn-kistler" (click)="changeSelectedAddress()">Change</button></div>
    </div>
  </div>
</div>

  <div class="panel panel-default approveOrderPayment">
    <div class="panel-heading">Payment method</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <span *ngIf="!selectedCard.cardName">Pay later</span>
          <span *ngIf="selectedCard.cardName">{{selectedCard.cardName}}, {{selectedCard.ccNumber}}</span>
        </div>        
        <div class="col-sm-6"><button class="btn btn-link" (click)="removePayMethod()">Remove</button></div>
        <div class="col-sm-2 btnApprovedpayment"><button type="button" class="btn btn-md btn-kistler" (click)="changeSelectedCard()">Change</button></div>
      </div>
    </div>

  </div>

<div class="panel panel-default kistlarOderHistory movieViewApproveOrder">

<table class="table">
            <thead>
                <tr>
                    <th>Wine Request</th>
                    <th class="text-center">Request</th>
                    <th class="priceFldAlign">Total</th>
                    <th class="text-center">Wish List</th>
                    <th class="priceFldAlign">Additional</th>
                  
                </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let order of orders" class="divider">
                <td class="producTitle">{{order.item}}</td>
                <td class="text-center">{{order.orderQty}}</td>
                <td class="productPrice priceFldAlign">${{(order.orderQty * order.price)  | number : '1.2-2'}}</td>
                <td class="text-center">{{order.wishList}}</td>
                <td class="productPrice priceFldAlign">${{(order.wishList * order.price) | number : '1.2-2'}}</td>
              </tr>

              <tr class="totalaWineCosts">
                <td class="subTotalTtitle">Total wine costs</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.wineTotals.wine | number : '1.2-2'}}</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.wineTotals.addl | number : '1.2-2'}}</td>
              </tr>
              <tr  class="mobSalesTax">
                <td class="subTotalTtitle">Sales Tax @{{footer.salesTaxPerc}}%</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.salesTaxTotals.wine | number : '1.2-2'}}</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.salesTaxTotals.addl | number : '1.2-2'}}</td>
              </tr>
              <tr  class="mobShipping">
                <td class="subTotalTtitle">Shipping</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.shippingTotals.wine | number : '1.2-2'}}</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.shippingTotals.addl | number : '1.2-2'}}</td>
              </tr>
              <tr  class="mobBalance-Credit">
                <td class="subTotalTtitle">Previous Balance / Credit</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.prevBalances.wine | number : '1.2-2'}}</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.prevBalances.addl | number : '1.2-2'}}</td>
              </tr>  
              <tr class="grandTotals">
                <td class="subTotalTtitle">Grand Total</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.grandTotals.wine | number : '1.2-2'}}</td>
                <td>&nbsp;</td>
                <td class="productPrice priceFldAlign">${{footer.grandTotals.addl | number : '1.2-2'}}</td>
              </tr>
            </tbody>

</table>
</div>
<div class="row apporveOderBtn">
      <button type="button" class="btn btn-md btn-kistler pull-right" [disabled]="!selectedAddress.name" (click)="approve()">Approve</button> 
      <button type="button" class="btn btn-md btn-kistler pull-right" (click)="editWineRequest()">Edit Wine Request</button>
   </div>

  <div class="row">
    <modal #addrModal>
      <modal-header>
        <h2>Select a shipping address</h2>
      </modal-header>
      <modal-content>
        <div class="form-group" *ngFor="let address of allAddresses; let i=index">
          <input type="radio" [checked]="address.isDefault" (click)=selectAddress(address) name="isDefault">  
         {{address.name}}, {{address.street1}}, <span *ngIf="address.street2">{{address.street2}},</span> {{address.city}}, {{address.state}}, {{address.zip}}, {{address.country}}
        </div>
      </modal-content>
      <modal-footer>
        <button class="btn btn-md btn-kistler" (click)="addrModal.close()">close</button>
      </modal-footer>
    </modal>
  </div>
  <div class="row">
    <modal #cardModal>
      <modal-header>
        <h2>Select a credit card</h2>
      </modal-header>
      <modal-content>
        <div class="form-group" *ngFor="let card of payMethods; let i=index">
          <input type="radio" [checked]="card.isDefault" (click)=selectCard(card) name="isDefaultCard"> {{card.cardName}},
          {{card.ccNumber}}
        </div>
      </modal-content>
      <modal-footer>
        <button class="btn btn-md btn-kistler" (click)="cardModal.close()">close</button>
      </modal-footer>
    </modal>
  </div>
  <!--<alert *ngIf="isAlert" [type]="alert.type" dismissable="true">Test</alert>  
  <alert *ngIf="isAlert" dismissOnTimeout="3000" [type]="alert.type">Data saved</alert>  -->
</div>