<div class="container mainContainer">
    <h2>Order</h2>
    <div class="introText boxPanel">
        <div class="welcomeTxt">Welcome <label class="username"> ipsum</label></div>
        <summary>{{staticTexts.introText}}</summary>
    </div>
    <div class="panel-group">
        <div class="panel panel-default ProductPanel" *ngFor="let order of orders">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4  col-xs-12 productTitle">
                        <a (click)="toggleDetails(order)">{{order.item }}</a>
                    </div>
                    <div class="col-sm-4 col-xs-12 notesOrderAvailPanel">
                        <div class="testingNotes"><a href="#collapse{{order.id}}">Tasting Notes</a></div>
                        <div class="orderPack"><span class="productPrice">${{order.price}}</span>/{{order.packing =='b' ? 'Btl' : 'Pkg'}}</div>
                        <div class="availPack">Avail:<span class="availableQtyColor"> {{order.availableQty}} {{order.packing =='b' ? 'Btls' : 'Pkg'}}</span></div>
                    </div>
                    <div class="col-sm-2 col-xs-6 ">
                        <span>Request: </span><input class="form-control orderWith" type="number" min="0" onfocus="this.select()"
                            [(ngModel)]="order.orderQty">
                    </div>
                    <div class="col-sm-2 col-xs-6 ">Wish List: <input class="form-control orderWith" type="number" min="1" onfocus="this.select()" [(ngModel)]="order.wishList"></div>
                    
                </div>
                <div *ngIf="order.orderQty > order.availableQty" class="alertExcesOrder" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{excessOrder}}</div>
                <div class=" showproductDetails" *ngIf="order.isShowDetails">
                    <div class="row orderDescPanel">
                        <div class="col-sm-2"><img [src]="order.imageUrl" class="img-thumbnail"></div>
                        <div class="col-sm-10">{{order.descr}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 tastingNotesPanel">{{order.tastingNotes}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row requestPanel">
        <div class="checkbox col-xs-10">
            <label><input type="checkbox" value=""> {{staticTexts.holidayGift}}</label>
        </div>
        <div class="col-xs-2">
            <button (click)="request()" class="btn btn-md btn-kistler pull-right">Request</button>
        </div>        
    </div>
    <alert  *ngIf="alert.show" [type]="alert.type" dismissable="true"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> {{alert.message}}</alert>
    <label>{{staticTexts.minimumRequest}}</label>
    <div><label>{{staticTexts.bottomNotes}}</label></div>
</div>