<form [formGroup]="changePwdForm" novalidate (ngSubmit)="changePassword(oldPwd.value,newPwd1.value,newPwd2.value)" class="form-signin">
	<h2 class="loginTextCenter">Change Password</h2>
	<div class="form-group">
		<label for="OldPassword">Old password</label>
		<input type="password" formControlName="oldPassword" class="form-control" id="OldPassword" placeholder="Old password" #oldPwd>
		<control-messages [control]="changePwdForm.controls.oldPassword"></control-messages>
	</div>

	<div class="form-group">
		<label for="NewPassword">New password</label>
		<input type="password" formControlName="newPassword1" class="form-control" id="NewPassword" placeholder="New password" #newPwd1>
		<control-messages [control]="changePwdForm.controls.newPassword1"></control-messages>
	</div>

	<div class="form-group">
		<label for="ConfirmNewPassword">Confirm new password</label>
		<input type="password" formControlName="newPassword2" class="form-control" id="ConfirmNewPassword" placeholder="Confirm new password"
			#newPwd2>
		<control-messages [control]="changePwdForm.controls.newPassword2"></control-messages>
	</div>
	<control-messages [control]="changePwdForm"></control-messages>
	<alert  *ngIf="alert.show" [type]="alert.type" dismissable="true">{{alert.message}}</alert>	
	<button type="submit" class="btn btn-lg btn-kistler btn-block" [disabled]="!changePwdForm.valid">Submit</button>
</form>