<form [formGroup]="forgotForm" novalidate class="form-signin" (ngSubmit)="sendMail(forgotForm.controls.codeOrMail.value)">
	<h2 class="loginTextCenter">Forgot password</h2>
	<div class="form-group">
		<alert *ngIf="alert.show" [type]="alert.type">{{alert.message}}</alert>
		<label for="InputEmail1">Email address or Customer code</label>
		<input formControlName="codeOrMail" type="email" class="form-control" id="InputCodeOrEmail1" placeholder="Email">
		<control-messages [control]="forgotForm.controls.codeOrMail"></control-messages>
	</div>
	<button type="submit" [disabled]="!forgotForm.valid" class="btn btn-lg btn-kistler btn-block">Submit</button>
	<button type="button" (click)="cancel()" class="btn btn-lg btn-kistler btn-block">Cancel</button>
</form>