<form [formGroup]="forgotForm" novalidate class="form-signin" (ngSubmit)="sendMail(forgotForm.controls.email.value)">
	<h2 class="loginTextCenter">Forgot password</h2>
	<div class="form-group">
		<label for="InputEmail1">Email address</label>
		<input formControlName="email" type="email" class="form-control" id="InputEmail1" placeholder="Email">
		<control-messages [control]="forgotForm.controls.email"></control-messages>
	</div>
	<button type="submit" class="btn btn-lg btn-kistler btn-block">Submit</button>
</form>